{
  "openapi": "3.1.0",
  "info": {
    "title": "UponAI Call API",
    "version": "2025-02-08",
    "description": "Programmatic control plane for configuring UponAI agents, large language model configurations, conversation flows, knowledge bases, outbound calls, and voice resources. All endpoints require a bearer token obtained from the UponAI dashboard."
  },
  "servers": [
    {
      "url": "https://api.upon-ai.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Shared authentication requirements and request builder helpers."
    },
    {
      "name": "LLM Models",
      "description": "Manage reusable large language model configurations for agents."
    },
    {
      "name": "Agents",
      "description": "Configure agents that power calls and web sessions."
    },
    {
      "name": "Conversation Flows",
      "description": "Build and maintain reusable dialog graphs for agents."
    },
    {
      "name": "Knowledge Bases",
      "description": "Store and curate grounded knowledge sources."
    },
    {
      "name": "Voices",
      "description": "Discover the speech synthesis voices available to a workspace."
    },
    {
      "name": "Account",
      "description": "Account level utilities and limits."
    },
    {
      "name": "Calls",
      "description": "Initiate and manage UponAI powered voice and web calls."
    }
  ],
  "paths": {
    "/api/llms": {
      "get": {
        "tags": [
          "LLM Models"
        ],
        "summary": "List LLMs",
        "description": "Enumerate the UponAI LLM configurations available to a workspace. Results are returned newest first.",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          },
          {
            "$ref": "#/components/parameters/LimitQuery"
          },
          {
            "$ref": "#/components/parameters/PaginationKeyQuery"
          },
          {
            "$ref": "#/components/parameters/PaginationKeyVersionQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "LLM configurations visible to the workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LlmSummary"
                  }
                },
                "examples": {
                  "default": {
                    "value": [
                      {
                        "llm_id": "llm_1ab234cde567fgh",
                        "display_name": "Concierge v2",
                        "version": 3
                      },
                      {
                        "llm_id": "llm_9xy654zba321cde",
                        "display_name": "Outbound Collections",
                        "version": 5
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "LLM Models"
        ],
        "summary": "Create LLM",
        "description": "Provision a new UponAI large language model configuration.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLlmRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "workspaceId": 42,
                    "display_name": "Concierge v2",
                    "model": "gpt-4o-mini",
                    "general_prompt": "You are the voice of UponAI...",
                    "begin_message": "Hi there! Thanks for calling.",
                    "responsiveness": "fast",
                    "general_tools": [
                      {
                        "name": "lookup_customer",
                        "description": "Retrieve CRM records by phone number.",
                        "type": "function"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Newly created LLM configuration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Llm"
                },
                "examples": {
                  "default": {
                    "value": {
                      "llm_id": "llm_1ab234cde567fgh",
                      "display_name": "Concierge v2",
                      "version": 1,
                      "model": "gpt-4o-mini",
                      "general_prompt": "You are the voice of UponAI...",
                      "begin_message": "Hi there! Thanks for calling UponAI.",
                      "updated_at": "2025-02-08T17:21:34.000Z"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/llms/{llmId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/LlmIdPath"
        }
      ],
      "get": {
        "tags": [
          "LLM Models"
        ],
        "summary": "Get LLM",
        "description": "Retrieve the latest or a specific version of an LLM configuration.",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          },
          {
            "$ref": "#/components/parameters/VersionQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "LLM configuration details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Llm"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "LLM Models"
        ],
        "summary": "Update LLM",
        "description": "Apply partial updates to an existing LLM configuration.",
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionQuery"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLlmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated LLM configuration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Llm"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "LLM Models"
        ],
        "summary": "Delete LLM",
        "description": "Permanently delete an LLM configuration and its versions.",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          }
        ],
        "responses": {
          "204": {
            "description": "LLM deleted."
          }
        }
      }
    },
    "/api/agents": {
      "get": {
        "tags": [
          "Agents"
        ],
        "summary": "List agents",
        "description": "List agents created inside a workspace.",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          },
          {
            "$ref": "#/components/parameters/LimitQuery"
          },
          {
            "$ref": "#/components/parameters/PaginationKeyQuery"
          },
          {
            "$ref": "#/components/parameters/PaginationKeyVersionQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent summary list.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgentSummary"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Agents"
        ],
        "summary": "Create agent",
        "description": "Create a new UponAI agent for use in calls and web sessions.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Newly created agent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          }
        }
      }
    },
    "/api/agents/{agentId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AgentIdPath"
        }
      ],
      "get": {
        "tags": [
          "Agents"
        ],
        "summary": "Get agent",
        "description": "Retrieve the active configuration or a historical version of an agent.",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          },
          {
            "$ref": "#/components/parameters/VersionQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent configuration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Agents"
        ],
        "summary": "Update agent",
        "description": "Apply partial updates to an existing agent configuration.",
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionQuery"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAgentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated agent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Agents"
        ],
        "summary": "Delete agent",
        "description": "Permanently remove an agent and all saved versions.",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          }
        ],
        "responses": {
          "204": {
            "description": "Agent deleted."
          }
        }
      }
    },
    "/api/agents/{agentId}/versions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AgentIdPath"
        }
      ],
      "get": {
        "tags": [
          "Agents"
        ],
        "summary": "List agent versions",
        "description": "Review the revision history for an agent.",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent version history.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgentVersion"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/conversation-flows": {
      "get": {
        "tags": [
          "Conversation Flows"
        ],
        "summary": "List conversation flows",
        "description": "Enumerate conversation flows for the workspace.",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          },
          {
            "$ref": "#/components/parameters/LimitQuery"
          },
          {
            "$ref": "#/components/parameters/PaginationKeyQuery"
          },
          {
            "$ref": "#/components/parameters/PaginationKeyVersionQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation flow summaries.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ConversationFlowSummary"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Conversation Flows"
        ],
        "summary": "Create conversation flow",
        "description": "Compose a reusable flow graph for agents to attach to.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConversationFlowRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Newly created conversation flow.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationFlow"
                }
              }
            }
          }
        }
      }
    },
    "/api/conversation-flows/{conversationFlowId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ConversationFlowIdPath"
        }
      ],
      "get": {
        "tags": [
          "Conversation Flows"
        ],
        "summary": "Get conversation flow",
        "description": "Retrieve the latest or a specific version of a conversation flow.",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          },
          {
            "$ref": "#/components/parameters/VersionQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation flow details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationFlow"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Conversation Flows"
        ],
        "summary": "Update conversation flow",
        "description": "Apply partial updates to a conversation flow.",
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionQuery"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConversationFlowRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated conversation flow.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationFlow"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Conversation Flows"
        ],
        "summary": "Delete conversation flow",
        "description": "Remove a conversation flow and its versions.",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          }
        ],
        "responses": {
          "204": {
            "description": "Conversation flow deleted."
          }
        }
      }
    },
    "/api/knowledge-bases": {
      "get": {
        "tags": [
          "Knowledge Bases"
        ],
        "summary": "List knowledge bases",
        "description": "Enumerate knowledge bases available to the workspace.",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Knowledge base summaries.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/KnowledgeBaseSummary"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Knowledge Bases"
        ],
        "summary": "Create knowledge base",
        "description": "Create a knowledge base and ingest documents, URLs, or free-form text for grounded responses.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateKnowledgeBaseRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Newly created knowledge base.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeBase"
                }
              }
            }
          }
        }
      }
    },
    "/api/knowledge-bases/{knowledgeBaseId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/KnowledgeBaseIdPath"
        }
      ],
      "get": {
        "tags": [
          "Knowledge Bases"
        ],
        "summary": "Get knowledge base",
        "description": "Retrieve knowledge base metadata and ingestion status.",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Knowledge base details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeBase"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Knowledge Bases"
        ],
        "summary": "Delete knowledge base",
        "description": "Permanently remove a knowledge base and its sources.",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          }
        ],
        "responses": {
          "204": {
            "description": "Knowledge base deleted."
          }
        }
      }
    },
    "/api/knowledge-bases/{knowledgeBaseId}/sources": {
      "parameters": [
        {
          "$ref": "#/components/parameters/KnowledgeBaseIdPath"
        }
      ],
      "post": {
        "tags": [
          "Knowledge Bases"
        ],
        "summary": "Add knowledge base sources",
        "description": "Append new source material to an existing knowledge base.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddKnowledgeBaseSourcesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Knowledge base with updated source list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeBase"
                }
              }
            }
          }
        }
      }
    },
    "/api/knowledge-bases/{knowledgeBaseId}/sources/{sourceId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/KnowledgeBaseIdPath"
        },
        {
          "$ref": "#/components/parameters/SourceIdPath"
        }
      ],
      "delete": {
        "tags": [
          "Knowledge Bases"
        ],
        "summary": "Delete knowledge base source",
        "description": "Remove a specific source entry from a knowledge base.",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          }
        ],
        "responses": {
          "204": {
            "description": "Source removed."
          }
        }
      }
    },
    "/api/voices": {
      "get": {
        "tags": [
          "Voices"
        ],
        "summary": "List voices",
        "description": "Explore the UponAI voice catalog available to a workspace.",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Voice catalog.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Voice"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/voices/{voiceId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VoiceIdPath"
        }
      ],
      "get": {
        "tags": [
          "Voices"
        ],
        "summary": "Get voice",
        "description": "Retrieve metadata for a specific voice.",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Voice metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Voice"
                }
              }
            }
          }
        }
      }
    },
    "/api/voices/{voiceId}/sample": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VoiceIdPath"
        }
      ],
      "get": {
        "tags": [
          "Voices"
        ],
        "summary": "Stream voice sample",
        "description": "Stream an MPEG sample to preview the voice.",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Voice sample stream.",
            "content": {
              "audio/mpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/api/concurrency": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get concurrency",
        "description": "Retrieve concurrency limits and current usage for the account.",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Concurrency snapshot.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Concurrency"
                }
              }
            }
          }
        }
      }
    },
    "/api/calls/web": {
      "post": {
        "tags": [
          "Calls"
        ],
        "summary": "Create web call",
        "description": "Start a browser based call session powered by an UponAI agent.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebCallRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Web call created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebCall"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/calls/initiate": {
      "post": {
        "tags": [
          "Calls"
        ],
        "summary": "Create phone call",
        "description": "Initiate a PSTN phone call via UponAI infrastructure.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePhoneCallRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Call initiation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePhoneCallResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/calls": {
      "get": {
        "tags": [
          "Calls"
        ],
        "summary": "List calls",
        "description": "List calls with optional workspace, agent, status, and date filters.",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceIdQueryOptional"
          },
          {
            "$ref": "#/components/parameters/AgentIdQuery"
          },
          {
            "$ref": "#/components/parameters/StatusQuery"
          },
          {
            "$ref": "#/components/parameters/FromDateQuery"
          },
          {
            "$ref": "#/components/parameters/ToDateQuery"
          },
          {
            "$ref": "#/components/parameters/PageQuery"
          },
          {
            "$ref": "#/components/parameters/LimitQueryDefault20"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated call list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallList"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/calls/{callId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CallIdPath"
        }
      ],
      "get": {
        "tags": [
          "Calls"
        ],
        "summary": "Get call",
        "description": "Retrieve details for a specific call.",
        "responses": {
          "200": {
            "description": "Call details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallDetail"
                }
              }
            }
          }
        }
      }
    },
    "/api/calls/{callId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CallIdPath"
        }
      ],
      "patch": {
        "tags": [
          "Calls"
        ],
        "summary": "Update call",
        "description": "Update stored metadata or opt out of sensitive data storage.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCallRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated call record.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallRecord"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "parameters": {
      "WorkspaceIdQuery": {
        "name": "workspaceId",
        "in": "query",
        "required": true,
        "schema": {
          "type": "integer"
        },
        "description": "Workspace identifier."
      },
      "WorkspaceIdQueryOptional": {
        "name": "workspaceId",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer"
        },
        "description": "Optional workspace identifier filter."
      },
      "LimitQuery": {
        "name": "limit",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 1000,
          "default": 1000
        },
        "description": "Maximum number of records to return."
      },
      "LimitQueryDefault20": {
        "name": "limit",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 20
        },
        "description": "Page size for list endpoints."
      },
      "PageQuery": {
        "name": "page",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "PaginationKeyQuery": {
        "name": "paginationKey",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Identifier to continue pagination."
      },
      "PaginationKeyVersionQuery": {
        "name": "paginationKeyVersion",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer"
        },
        "description": "Version paired with the pagination key."
      },
      "VersionQuery": {
        "name": "version",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1
        },
        "description": "Specific version to retrieve or update."
      },
      "AgentIdPath": {
        "name": "agentId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Agent identifier."
      },
      "AgentIdQuery": {
        "name": "agentId",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Filter call listings to a specific agent."
      },
      "CallIdPath": {
        "name": "callId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Call identifier or SID."
      },
      "ConversationFlowIdPath": {
        "name": "conversationFlowId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Conversation flow identifier."
      },
      "KnowledgeBaseIdPath": {
        "name": "knowledgeBaseId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Knowledge base identifier."
      },
      "SourceIdPath": {
        "name": "sourceId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Knowledge base source identifier."
      },
      "VoiceIdPath": {
        "name": "voiceId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Voice identifier."
      },
      "LlmIdPath": {
        "name": "llmId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "LLM identifier."
      },
      "StatusQuery": {
        "name": "status",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Filter calls by status."
      },
      "FromDateQuery": {
        "name": "fromDate",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "format": "date-time"
        },
        "description": "Inclusive start date for call listing filter."
      },
      "ToDateQuery": {
        "name": "toDate",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "format": "date-time"
        },
        "description": "Inclusive end date for call listing filter."
      }
    },
    "schemas": {
      "LlmSummary": {
        "type": "object",
        "properties": {
          "llm_id": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "version": {
            "type": "integer"
          }
        },
        "required": [
          "llm_id",
          "display_name",
          "version"
        ]
      },
      "Llm": {
        "allOf": [
          {
            "$ref": "#/components/schemas/LlmSummary"
          },
          {
            "type": "object",
            "properties": {
              "model": {
                "type": "string"
              },
              "general_prompt": {
                "type": "string",
                "nullable": true
              },
              "begin_message": {
                "type": "string",
                "nullable": true
              },
              "responsiveness": {
                "type": "string",
                "nullable": true
              },
              "general_tools": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Tool"
                }
              },
              "updated_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              }
            }
          }
        ]
      },
      "Tool": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "type"
        ]
      },
      "CreateLlmRequest": {
        "type": "object",
        "required": [
          "workspaceId",
          "display_name"
        ],
        "properties": {
          "workspaceId": {
            "type": "integer"
          },
          "display_name": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "general_prompt": {
            "type": "string"
          },
          "begin_message": {
            "type": "string",
            "nullable": true
          },
          "responsiveness": {
            "type": "string"
          },
          "general_tools": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tool"
            }
          }
        }
      },
      "UpdateLlmRequest": {
        "type": "object",
        "required": [
          "workspaceId"
        ],
        "properties": {
          "workspaceId": {
            "type": "integer"
          },
          "general_prompt": {
            "type": "string",
            "nullable": true
          },
          "begin_message": {
            "type": "string",
            "nullable": true
          },
          "responsiveness": {
            "type": "string"
          },
          "model": {
            "type": "string"
          }
        }
      },
      "AgentSummary": {
        "type": "object",
        "properties": {
          "agent_id": {
            "type": "string"
          },
          "agent_name": {
            "type": "string"
          },
          "version": {
            "type": "integer"
          }
        },
        "required": [
          "agent_id",
          "version"
        ]
      },
      "Agent": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AgentSummary"
          },
          {
            "type": "object",
            "properties": {
              "voice_id": {
                "type": "string"
              },
              "response_engine": {
                "$ref": "#/components/schemas/ResponseEngine"
              },
              "response_threshold": {
                "type": "number",
                "nullable": true
              },
              "interruption_sensitivity": {
                "type": "string",
                "nullable": true
              },
              "ambient_sound": {
                "type": "string",
                "nullable": true
              },
              "responsiveness": {
                "type": "string",
                "nullable": true
              },
              "max_call_duration_ms": {
                "type": "integer",
                "nullable": true
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "updated_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              }
            }
          }
        ]
      },
      "ResponseEngine": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "llm_id": {
            "type": "string"
          }
        },
        "required": [
          "type"
        ]
      },
      "CreateAgentRequest": {
        "type": "object",
        "required": [
          "workspaceId",
          "agent_name",
          "voice_id",
          "response_engine"
        ],
        "properties": {
          "workspaceId": {
            "type": "integer"
          },
          "agent_name": {
            "type": "string"
          },
          "voice_id": {
            "type": "string"
          },
          "response_engine": {
            "$ref": "#/components/schemas/ResponseEngine"
          },
          "response_threshold": {
            "type": "number"
          },
          "interruption_sensitivity": {
            "type": "string"
          },
          "ambient_sound": {
            "type": "string"
          }
        }
      },
      "UpdateAgentRequest": {
        "type": "object",
        "required": [
          "workspaceId"
        ],
        "properties": {
          "workspaceId": {
            "type": "integer"
          },
          "response_engine": {
            "$ref": "#/components/schemas/ResponseEngine"
          },
          "interruption_sensitivity": {
            "type": "string"
          },
          "max_call_duration_ms": {
            "type": "integer"
          },
          "responsiveness": {
            "type": "string"
          }
        }
      },
      "AgentVersion": {
        "type": "object",
        "properties": {
          "agent_id": {
            "type": "string"
          },
          "version": {
            "type": "integer"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "agent_id",
          "version"
        ]
      },
      "ConversationFlowSummary": {
        "type": "object",
        "properties": {
          "conversation_flow_id": {
            "type": "string"
          },
          "version": {
            "type": "integer"
          },
          "start_speaker": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "conversation_flow_id",
          "version"
        ]
      },
      "ConversationFlow": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ConversationFlowSummary"
          },
          {
            "type": "object",
            "properties": {
              "workspaceId": {
                "type": "integer",
                "nullable": true
              },
              "global_prompt": {
                "type": "string",
                "nullable": true
              },
              "start_speaker": {
                "type": "string",
                "nullable": true
              },
              "model_choice": {
                "$ref": "#/components/schemas/ModelChoice"
              },
              "nodes": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ConversationNode"
                }
              }
            }
          }
        ]
      },
      "ModelChoice": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "model": {
            "type": "string"
          }
        },
        "required": [
          "type"
        ]
      },
      "ConversationNode": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "instruction": {
            "$ref": "#/components/schemas/Instruction"
          },
          "edges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConversationEdge"
            }
          }
        },
        "required": [
          "id",
          "type"
        ]
      },
      "Instruction": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "text": {
            "type": "string"
          }
        },
        "required": [
          "type"
        ]
      },
      "ConversationEdge": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "transition_condition": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "prompt": {
                "type": "string"
              }
            },
            "required": [
              "type"
            ]
          },
          "destination_node_id": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "transition_condition",
          "destination_node_id"
        ]
      },
      "CreateConversationFlowRequest": {
        "type": "object",
        "required": [
          "workspaceId",
          "start_speaker",
          "nodes"
        ],
        "properties": {
          "workspaceId": {
            "type": "integer"
          },
          "global_prompt": {
            "type": "string"
          },
          "start_speaker": {
            "type": "string"
          },
          "model_choice": {
            "$ref": "#/components/schemas/ModelChoice"
          },
          "nodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConversationNode"
            }
          }
        }
      },
      "UpdateConversationFlowRequest": {
        "type": "object",
        "required": [
          "workspaceId"
        ],
        "properties": {
          "workspaceId": {
            "type": "integer"
          },
          "global_prompt": {
            "type": "string"
          },
          "model_choice": {
            "$ref": "#/components/schemas/ModelChoice"
          },
          "nodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConversationNode"
            }
          }
        }
      },
      "KnowledgeBaseSummary": {
        "type": "object",
        "properties": {
          "knowledgeBaseId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "required": [
          "knowledgeBaseId",
          "name",
          "status"
        ]
      },
      "KnowledgeBase": {
        "allOf": [
          {
            "$ref": "#/components/schemas/KnowledgeBaseSummary"
          },
          {
            "type": "object",
            "properties": {
              "description": {
                "type": "string",
                "nullable": true
              },
              "sources": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/KnowledgeBaseSource"
                }
              },
              "workspaceId": {
                "type": "integer",
                "nullable": true
              }
            }
          }
        ]
      },
      "KnowledgeBaseSource": {
        "type": "object",
        "properties": {
          "source_id": {
            "type": "string"
          },
          "source_type": {
            "type": "string"
          },
          "filename": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "source_id",
          "source_type"
        ]
      },
      "CreateKnowledgeBaseRequest": {
        "type": "object",
        "required": [
          "workspaceId",
          "name"
        ],
        "properties": {
          "workspaceId": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "sources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KnowledgeBaseSourceInput"
            }
          }
        }
      },
      "KnowledgeBaseSourceInput": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text",
              "url",
              "document"
            ]
          },
          "text": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "filename": {
            "type": "string"
          },
          "contentType": {
            "type": "string"
          },
          "base64": {
            "type": "string"
          }
        },
        "required": [
          "type"
        ]
      },
      "AddKnowledgeBaseSourcesRequest": {
        "type": "object",
        "required": [
          "workspaceId",
          "sources"
        ],
        "properties": {
          "workspaceId": {
            "type": "integer"
          },
          "sources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KnowledgeBaseSourceInput"
            }
          }
        }
      },
      "Voice": {
        "type": "object",
        "properties": {
          "voiceId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "accent": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "previewUrl": {
            "type": "string",
            "format": "uri"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "required": [
          "voiceId",
          "name"
        ]
      },
      "Concurrency": {
        "type": "object",
        "properties": {
          "maxConcurrent": {
            "type": "integer"
          },
          "currentUsage": {
            "type": "integer"
          },
          "purchasedConcurrency": {
            "type": "integer"
          },
          "concurrencyPurchaseLimit": {
            "type": "integer"
          }
        },
        "required": [
          "maxConcurrent",
          "currentUsage"
        ]
      },
      "CreateWebCallRequest": {
        "type": "object",
        "required": [
          "workspaceId",
          "agentId"
        ],
        "properties": {
          "workspaceId": {
            "type": "integer"
          },
          "agentId": {
            "type": "string"
          },
          "agentVersion": {
            "type": "integer"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "uponai_dynamic_variables": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "WebCall": {
        "type": "object",
        "properties": {
          "callId": {
            "type": "string"
          },
          "callType": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "agentId": {
            "type": "string"
          },
          "agentVersion": {
            "type": "integer"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "optOutSensitiveDataStorage": {
            "type": "boolean"
          },
          "accessToken": {
            "type": "string",
            "nullable": true
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "webCallUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "uponai_dynamic_variables": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "required": [
          "callId",
          "status"
        ]
      },
      "CreatePhoneCallRequest": {
        "type": "object",
        "required": [
          "agentId",
          "workspaceId",
          "fromNumber",
          "toNumber"
        ],
        "properties": {
          "agentId": {
            "type": "string"
          },
          "workspaceId": {
            "type": "integer"
          },
          "fromNumber": {
            "type": "string"
          },
          "toNumber": {
            "type": "string"
          },
          "customerName": {
            "type": "string"
          },
          "carrierName": {
            "type": "string"
          },
          "trunkName": {
            "type": "string"
          },
          "overrideCid": {
            "type": "string"
          },
          "customFromNumber": {
            "type": "string"
          },
          "customStatusHookUrl": {
            "type": "string",
            "format": "uri"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "uponai_dynamic_variables": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "CreatePhoneCallResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "call_sid": {
            "type": "string"
          },
          "call": {
            "$ref": "#/components/schemas/CallDetail"
          }
        }
      },
      "CallDetail": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "call": {
            "$ref": "#/components/schemas/CallRecord"
          }
        },
        "additionalProperties": true
      },
      "CallRecord": {
        "type": "object",
        "properties": {
          "callId": {
            "type": "string"
          },
          "callType": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "agentId": {
            "type": "string"
          },
          "agentVersion": {
            "type": "integer"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "optOutSensitiveDataStorage": {
            "type": "boolean"
          },
          "accessToken": {
            "type": "string",
            "nullable": true
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "webCallUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "uponai_dynamic_variables": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "CallList": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "calls": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CallRecord"
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "total": {
                "type": "integer"
              }
            }
          }
        },
        "required": [
          "success",
          "calls"
        ]
      },
      "UpdateCallRequest": {
        "type": "object",
        "required": [
          "workspaceId"
        ],
        "properties": {
          "workspaceId": {
            "type": "integer"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "optOutSensitiveDataStorage": {
            "type": "boolean"
          }
        }
      }
    }
  }
}